<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Welcome</h1>
    <p>Please fill in the form below</p>
    <form action="" method="post">
        <label for="in-first">First name:</label>
        <br>
        <input id="in-first" name="first" type="text">
        <br>
        <label for="in-last">Last name:</label>
        <br>
        <input id="in-last" name="last" type="text">
        <br>
        <br>
        <input type="submit">
    </form>
</body>

</html>